@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
}

.b {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
